    @font-face{
        font-family:"Helvetica Neue";
        src:url("1489436/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"),url("1489436/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica Neue Bold";
        src:url("1489452/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2") format("woff2"),url("1489452/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff") format("woff");
    }
    

    @font-face{
        font-family:"Helvetica";
        src:url("1489436/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"),url("1489436/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica Bold";
        src:url("1489452/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2") format("woff2"),url("1489452/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff") format("woff");
    }


    
    
    @font-face{
        font-family:"Helvetica LT W01 Light";
        src:url("1489424/37953885-0443-4c72-a693-9152a9f5a901.woff2") format("woff2"),url("1489424/fcce277c-07e2-4c88-ad8b-a71b484e2cbe.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Light Oblique";
        src:url("1489430/0976eae4-2818-43ff-8f87-70dcbb0f9ea9.woff2") format("woff2"),url("1489430/a26a74ab-9781-4c48-bcfb-e2e63bc068d5.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Roman";
        src:url("1489436/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"),url("1489436/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Obliqu1489444";
        src:url("1489444/ac4134ce-b28e-4df9-b88c-a67db965774e.woff2") format("woff2"),url("1489444/6389110a-e983-4d95-8d1f-5a87de018aac.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Bold";
        src:url("1489452/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2") format("woff2"),url("1489452/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Bold O1489460";
        src:url("1489460/3e13f208-91f2-41ec-b1bf-e5b29d486821.woff2") format("woff2"),url("1489460/17d3cf02-3e99-48c3-953a-b26082b28949.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Black";
        src:url("1489468/140cbf94-b441-4980-b031-0a614cdee9a8.woff2") format("woff2"),url("1489468/c13f2d0e-112f-4829-96e7-573d38f83066.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Black Oblique";
        src:url("1489474/471483bd-1422-4548-a1cf-a7fa9fdf5b59.woff2") format("woff2"),url("1489474/07818719-eb0b-475f-ab2b-3cb4ee66e0d9.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Light Cond";
        src:url("1489480/da1e3389-7cb1-4bbe-a8cb-9d8c12bed489.woff2") format("woff2"),url("1489480/a9b0bbff-d4ce-481a-ade4-32c7e112125f.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Light Cn Obl";
        src:url("1489486/ae28463c-ff37-41b4-b03c-4ccb49d556f2.woff2") format("woff2"),url("1489486/a3434dce-e398-47cf-8746-83306c679298.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Condensed";
        src:url("1489492/b2dc2dea-700a-4f4a-8d54-410cab0563eb.woff2") format("woff2"),url("1489492/db750bb2-16e0-4166-a692-163c51ea3190.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Condensed Obl";
        src:url("1489498/836434bb-026b-4b96-9158-34f76cc2cdc6.woff2") format("woff2"),url("1489498/57c443b8-3809-443e-90cb-82c5adee7c79.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Bold Cond";
        src:url("1489504/cc8baf39-7363-4096-9272-744ba5d42550.woff2") format("woff2"),url("1489504/c3e64e07-d679-43dc-982a-6d21239f752e.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Bold Cond Obl";
        src:url("1489510/2bf6c0ba-69c7-4dde-ae8e-80047b60ebc1.woff2") format("woff2"),url("1489510/b659afed-b043-4147-84b5-8ef7fcdbbeef.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Black Cond";
        src:url("1489516/318f10c9-cc4d-47d1-a357-05d8a36bd49c.woff2") format("woff2"),url("1489516/0ec178c4-7cd1-4236-8b55-ad77cb3ceae8.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Black Cn Obl";
        src:url("1489522/2d15f0a2-cc5c-478c-89d0-a5aebc6339ee.woff2") format("woff2"),url("1489522/09e06020-4637-43c8-9783-bf71198454e5.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Compressed";
        src:url("1489528/9a21b599-8254-4b46-af23-7c49a2a127be.woff2") format("woff2"),url("1489528/4464a79b-239b-48ad-88ab-e4518082b9b6.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 X Compressed";
        src:url("1489536/7a971f81-127b-458a-a5ee-02f9290ef997.woff2") format("woff2"),url("1489536/c2db5131-f641-4a27-963c-c1a7435d71da.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Ult Comp";
        src:url("1489544/18bfa02e-fa40-421f-bdf5-ac405949e426.woff2") format("woff2"),url("1489544/cb05eea2-2432-4559-9eb4-83addd62b9e0.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica Inserat LT W01 Rg";
        src:url("1489552/1812bdf9-4db0-46d1-8df8-2d43822ddd1a.woff2") format("woff2"),url("1489552/1311d206-4d5e-4bb7-9eb2-067a37aa10d7.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Narrow";
        src:url("1566264/d9174fff-293c-4d3c-9480-438cfec8ba57.woff2") format("woff2"),url("1566264/3c6ab608-39c8-4a90-849c-c2a32ea0a949.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Narrow Obl";
        src:url("1566270/382794c0-b52b-4279-a296-9c1f37b6cebf.woff2") format("woff2"),url("1566270/8726ba91-3222-4344-878a-87bcb74ac7d3.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Bold Narrow";
        src:url("1566276/94c1b92e-68ab-4029-8e1e-ba7e3e5bcb8b.woff2") format("woff2"),url("1566276/e1f1dbd2-827c-423b-8b9a-660116820c77.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica LT W01 Bold Nr Obl";
        src:url("1566282/847d8475-4db3-43ce-9bc9-003ce96e1ff6.woff2") format("woff2"),url("1566282/b33db801-fb57-4998-83c2-79868ea9f00b.woff") format("woff");
    }
